/*fuente playfair display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
* {
    margin: 0;
    padding: 0;}
body{
   font-family: "Playfair Display", serif;
   margin: 10px 20px 10px 28px;}
p { font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 14px;}
h1{/*propiedad: valor*/
color: rgb(60, 79, 116);
font-size: 52px;
margin: 28px 0px 32px;}

h2 {font-family:"Dancing Script", cursive;
    font-size: 50px;
    margin-bottom: 20px;}

.li-nav{
    list-style-type: none; }

.a-nav {
    text-decoration: none;
    height: 50px;
    width: 100px; 
    color: rgb(34, 32, 32);
    display: inline-block;
    border: 2px;
    border-radius: 2px;
    font-weight: 600;}

.footer-p {
    color: brown;
    font-size: 18px;}

header img{
    margin: 20px 20px 0px;}

.logo {
    font-style: italic;
    font-weight: 200;
    text-transform: uppercase;
        text-decoration: none;
        color: black; 
        font-size: 26px; 
    width: 80px; 
    }

.logo a img {
    width: 100%;}

.cajas-nav {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(240, 179, 158);
    line-height: 50px;
    margin: 5px 6px;
    border-radius: 8px;
    }

    /*cajas de la navegacion*/
.barra { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 12px 12px;}
    
    /*cajas de servicios*/
.dos-cajas {
    display: flex;
    flex-direction: row;
    justify-content: center;}

.cajas-eventos {
    width: 250px;
    height: 180px;
    border:1px solid rgb(205, 169, 50);
background-color: rgb(116, 233, 116);
text-align: center;
margin: 5px 6px;
margin: 16px;
padding: 4px;}

section ul li {
    list-style-type: none;}

div h3 {
    margin: 8px 0px; }

form {
    margin: 24px 12px 30px; }
.galeria {
    width: 300px;
}
.galeria img {
    width: 100%;
}
.reseñas {
    display: grid;
    grid-template-columns: 80px 350px;
    grid-template-areas: 200px 200px;
    grid-template-rows: 60px 60px;
    align-items: center;
    gap: 11px;
    
}
.reseñas article p {
    font-size: 16px;
    text-align: right;
}
.cajas-comentarios {
    height: 175px;

}
.reseñas div {
    padding: 14px;
    margin: 14px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(199, 254, 254);
    display:inline-block;
    flex-direction: row;
    
}
.cajas-reseñas {
    height: 175px;
    width: 60px;
}
.cajas-reseñas article {
    width: 100;
}
.cajas-comentarios h3 {
    font-size: 12px;
    font-weight: lighter;
    font-style: normal;
}